body {
  color: black;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "arial", "sans-serif";
  overflow-y: auto;
  overflow-x: hidden;
/*
  display: flex;
  min-height: 100vh;
  flex-direction: column;
*/
}

.messages {
overflow: hidden;
margin-top: 120px;
margin-right: 10%;
  left: 5%;
  position: relative;
}

.message {
  margin-top: 20px;
  margin-right: 5%;
}

header {
	height:89px;
	width: 100%;
	top: 0;
  padding-left: 10px;
	padding-top: 20px;
    padding-bottom: 20px;
    position:fixed;
	background: #F5F5F5;
    z-index:1000;
    border-bottom: 1px solid #dedede;
}


a {
  color: black;
  text-decoration:  none !important;
}

 a:hover {
  color: #bbb !important;
}

 a:visited {
  color: #ddd !important;
}

select {
  padding : 5px !important;
}

select:active, select:hover {
  outline: none !important;
}

textarea {
    font-family: arial;
    font-size: 16px;
    border-color: rgb(169, 169, 169);
}

ol, ul {
  padding-left: 5px;
}

blockquote.style2 {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  background-color: #f9f9f9;
}

._opts {
  float : right;
  padding-right: 5px;
}

.footerform {
  border-top: 1px solid #aaa;
	height:390px;
	width: 100%;
	position:fixed;
	bottom: 0;
	background: #eee;
  padding-left: 48px;
  padding-top: 12px;
}

.topicfooterform {
  border-top: 1px solid #aaa;
	height:430px;
	width: 100%;
	position:fixed;
	bottom: 0;
	background: #eee;
  padding-left: 48px;
  padding-top: 12px;
}

  .reply-users {
    margin: 12px 0 0 0;
  }



.submit-btn {
  margin: 8px;
}

.topicheader {
	border-bottom: 1px solid #aaa;
	margin-bottom:20px;
}

h1, h3 {
  font-size: 32px;
  font-family: Arial;
  margin: 0px;
}

.topics {
border-bottom: 1px solid #aaa;
height:72px;
padding: 10px 0 0px 0;
}
.topiclink {
  cursor: pointer;
  font-size: 18px;
  color: black;
  padding: 8px 0 8px 0;
}

.topicdescr {
  font-size: 14px;
}

.user {
  font-size: 16px;
}

.newtopic {
  font-size: 16px;
  float:right;
  margin: 10px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  background: #ddd;
 }

 .loggedas {
   font-size: 16px;
   float:right;
   margin: 5px;
   padding: 5px;
   right: 5;
  }

 .login {
   font-size: 16px;
   float:right;
   margin: 10px;
   padding: 5px;

   cursor: pointer;
   background: #ddd;
  }

.posts {
border-bottom: 1px solid #dedede;
height:auto;
padding: 10px 0 10px 0;
}

.formbuttons {
  float: right;
}

.button {
  border-style: none;
}

.sendbutton {
  font-size: 16px;
  float : right;
  margin: 16px;
  padding: 5px;
  right: 20px;
  cursor: pointer;
  background-color:#0088CC;
  color: #fff;
}

.cancel {
  font-size: 16px;
  float: left;
  margin: 16px ;
  padding: 5px;
  cursor: pointer;
  color: #4CC3FF;
}

.newtopic:hover {background-color: #aaa; color: #fff }
.newreply:hover {background-color: #aaa; color: #fff }
.menu:hover {background-color: #aaa; color: #fff }
.sendbutton:hover {background-color: #4CC3FF; color: #fff }

.topicnamearea {
  width : 300px;
  height: 18px;
  margin: 16px 16px 0px 16px;
  padding: 5px;
}
.reply-msg {
  width: 95%;
  height: 300px;
  margin: 16px 0 0 0;
  background-color: #fff;
}


.reply-title {
  width : 300px;
  height: 32px;
  margin: 16px 16px 0px 0px;
  padding: 5px;
}

.menu {
  font-size: 24px;
  position: absolute;
  margin: 5px;
  padding: 5px;
  left: 55px;
  cursor: pointer;
  text-decoration: none;  !important;
  color : black;
}

.menu a{
  font-size: 24px;
  position: absolute;
  margin: 5px;
  padding: 5px;
  left: 55px;
  cursor: pointer;
  text-decoration: none;  !important;
  color : black;
}

.sendicon {
  position: absolute;
  top: 50%;
  right: -48px;
  margin-top: -36px;
  cursor: pointer;
}

.code {
  background-color: #f7f7f7;
  display: inline-block;
  white-space: pre-line;
  padding: 16px;
  margin: 16px auto;
}

.sub-title {
  margin-top: 24px;
  font-size: 18px;
  font-weight: 600;
}
.sub-sub-title {
  margin-top: 22px;
  font-size: 16px;
  font-weight: 600;
}

.title {
  font-size: 24px;
}

  .reply {
  padding: 10px 0 10px 0;

  }

  .reply:first-child {
    padding: 0px 0 10px 0;
  }

  .replydescr {
    font-size: 14px;
    margin-top: 20px;
  }

  .replydate {
    font-size: 14px;
    float : right;
    padding-right:20px;
    right: 5%;
  }

  .lastmod {
    float: right;
    font-size: 14px;
    padding-right:20px;
    right: 30%;
    width: 70px;
    text-align: right;
  }

  .repliescount {
    float: right;
    font-size: 14px;
    padding-right:20px;
    left:  40%;
    width: 80px;
    text-align: right;
  }


  .replies-count {
    padding-top: 10px;
  }

.replybuttons {
  border-bottom: 1px solid #ddd;
  float: right;
  width:100%;
  height: 32px;
}

.newreply {

  font-size: 16px;
  float: left;
  margin: 20px 0 0 48px;
  padding: 5px;
  cursor: pointer;
  background: #ddd;

 }

.likes {
  font-size: 14px;
  float : right;
  padding :0 20px 10px 0;
  right: 5%;
}

.heart {
  font-size: 20px;
  font-stretch: ultra-expanded;
  color: #aaa;
  cursor: pointer;
}
